*
!*/

!*.*py
!*.*ml
!*file
!demo/demo_cli.ipynb
!demo/demo_python.ipynb
!demo/demo_datatree.ipynb
!*.py.old

__pycache__/
*.egg-info/

.ipynb_checkpoints/

!*.md
!*.rst

# Ignore Sphinx build output by default
_build/

# Allow the documentation build directory
!doc/_build/
!doc/_build/html/

# Track only the Python module index
!doc/_build/html/py-modindex.html
